// ABSTRACTS
@import "abstracts/variables";
@import "abstracts/mixins";


// BASE
@import "base/normalize";
@import "base/reset";
@import "base/typography";

// COMPONENTS 

// LAYOUTS
@import "layout/grid";
//@import "layout/header";
@import "layout/navigation";

// PAGES
@import "pages/home";
@import "pages/grid-html";

// THEMES
@import "themes/dark-theme";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFF
} 
  
.parent {
    display: grid;
    height:200px;
    width:200px;
    row-gap: 20px;
    background-color:orange;
    grid-template-columns: repeat(4, 1fr);
 }

 