<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>Kalender</header>

    <main>

        <% events.forEach(event => { %>
            <h2><%= event.title %></h2>
            <p><%= event.dateTime %> </p>
        <% }) %>


    </main>

    <footer>
        <button>Add Event</button>
    </footer>
    
</body>
</html>